<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<style>
  #kam{
    /* position: fixed; */
  }

  *{
    margin: 0;
    padding: 0;
    
  }
  header{
    height: 80px;
    width: 100vw;
    background-color: #f2ebeb;
    font-size: 60px;
    text-align: center;
    text-shadow: 5px 5px 5px orange;
    border: 3px solid rgb(203, 247, 247);
    border-radius: 20px;
    box-shadow: 5px 5px 5px rgb(181, 178, 173);
  }
  main{
    margin-top: 30px;

    height: 400px;
    width: 800px;
    background-color: #f4eeee;
    margin-left: 200px;
    border: 3px solid rgb(224, 163, 163);
    border-radius: 20px;
    box-shadow: 10px 10px 10px rgb(237, 144, 109);
  }
  #formh input{
    height: 30px;
    width: 550px;
    margin-top: 30px;
    box-shadow: 5px 5px 5px rgb(66, 66, 220);


  }
  input:hover{
    background-color: #e1cece; 

  }
  
  button{
    height: 40px;
    width: 80px;
    box-shadow: 5px 5px 5px skyblue;
  }

  #hamarid{
    height: 40px ;
    width: 600px ;
    background-color: #eddfdf;
  }
  #bas:hover{
    height: 80px;
    width: 150px;
    background-color: #e99090;
  }

</style>
<body>
  <header id="kam">Welcome To Apna ToDO App </header>

  
  <main>
    <nav id="bas" style="margin-top: 10px; align-items: center; justify-content: center;display: flex; border: 3px solid orangered; background-color: #f5dddd; border-radius: 10px; height:40px; width: 100px; box-shadow: 4px 4px 4px rgb(240, 227, 107); text-decoration: none; "><button><a href="/dash">DashBoard</a></button></nav>
    <div id="formh">
      <form action="/alldata" method="POST">
        Name : <input type="text" name="task" placeholder="Enter Your Task">
        <button type="submit">ADD TASK</button>
        
      </form>
    </div>
  </main>

  
</body>
</html>